{% liquid
  assign image_urls = 'https://cdn.shopify.com/s/files/1/0593/6339/3616/files/13.png?v=1772521323|https://cdn.shopify.com/s/files/1/0593/6339/3616/files/16.png?v=1772521309|https://cdn.shopify.com/s/files/1/0593/6339/3616/files/11.png?v=1772521310|https://cdn.shopify.com/s/files/1/0593/6339/3616/files/12.png?v=1772521368|https://cdn.shopify.com/s/files/1/0593/6339/3616/files/15.png?v=1772521365|https://cdn.shopify.com/s/files/1/0593/6339/3616/files/14.png?v=1772521352' | split: '|'
%}

<div class="af-melyla-strip">
  <h2>@Melyla</h2>

  {% capture slides_markup %}
    {% for image_url in image_urls %}
      {% capture slide_content %}
        <a class="af-melyla-strip__item" href="javascript:void(0)" aria-label="Melyla look {{ forloop.index }}">
          <img src="{{ image_url }}" alt="Melyla look {{ forloop.index }}" loading="lazy">
        </a>
      {% endcapture %}
      {% render 'slideshow-slide', index: forloop.index0, children: slide_content, class: 'resource-list__slide af-melyla-strip__slide' %}
    {% endfor %}
  {% endcapture %}

  <div
    class="resource-list__carousel af-melyla-strip__carousel"
    style="--gutter-slide-width: 0px; --slide-width-max: 420px; --resource-list-column-gap-desktop: 14px; --column-count: 3; --column-count-mobile: 1; --mobile-card-size: 88vw;"
  >
    {% render 'slideshow',
      ref: 'afMelylaStrip',
      class: 'resource-list__carousel af-melyla-strip__carousel',
      slides: slides_markup,
      show_arrows: false,
      auto_hide_controls: false,
      infinite: false,
      initial_slide: 0,
      slide_count: image_urls.size
    %}
  </div>
</div>
